* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PP Mori";
}

:root {
  --primary: #161616;
  --secondary: #f7f7f7;
  --alternate: #f0edba;
}

/* Essential for lenis js */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--primary);
  color: var(--secondary);
  overflow: hidden;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

h1 {
  font-size: 33vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 400;
}

p {
  font-size: 2vw;
  text-transform: uppercase;
  color: var(--secondary);
}

#container {
  width: 100%;
  height: 100%;
}

#container-text {
  position: fixed;
  top: 0;
  left: 0;
  padding: 2vw;
  /* to make them in one line */
  display: inline-flex;
  width: max-content;
  color: var(--secondary);
}

#container-gallery {
  position: relative;
  width: 100%;
  height: 100%;
}

#container-gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 27vw;
  padding-top: 27vw;
  padding-bottom: 2vw;
}

#container-gallery-wrapper #container-gallery-img-container {
  position: relative;
  width: 50vw;
  height: 50vw;
}

#container-gallery-wrapper #container-gallery-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#container-gallery-wrapper #container-gallery-info {
  padding: 0 17vw;
  text-align: left;
}

#container-gallery-wrapper
  #container-gallery-info
  #container-gallery-info-action {
  margin-top: 2rem;
  cursor: pointer;
  color: var(--alternate);
  text-shadow: 0px 0px 20px #f0edba;
}

#extra {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2vw;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: -1;
}
